.menubar{
   
    list-style: none;
    float: left;
    margin-left: 15%;
}

.item{
    display: inline;
    margin: 15px;
    
}

.bar-link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#urunler:active .fa-arrow-right::before{
    content: "\f063";
    padding-right: 2.75px;
}

.menu a:hover{
    transition: all .4s linear;
    color: rgb(31, 77, 77);
}

.menu a:hover{
    transition: all .4s linear;
    color: rgb(31, 77, 77);
}

.login{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color:rgb(31, 77, 77);
    background-color:white;
    border-radius: 15px;
    box-shadow: 2px 5px;
    border: 2px black solid;
}
.login:active{
    border-bottom: 2px 5px;
    color: white;
    background-color: rgb(31, 77, 77);
    border-color: rgb(31, 77, 77);
    transition: all .05s linear;
}

.menu-right{
    position:absolute;
    margin-left: 60%;
    margin-top: -2%;
}

.search{
    position:relative;
    margin-top: 10%;
    margin-left: 13%;
    width:75%;
    border-radius: 25px;
}

.form{
    padding: 15px;
    border-radius: 25px;
    width: 90%;
}

.button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 22px;
    color:rgb(31, 77, 77);
    background-color:white;
    border-radius: 15px;
    box-shadow: 2px 5px;
    border: 2px black solid;
    margin-left: -60px;
    margin-top: 7px;
}

.button:active{
    border-bottom: 2px 5px;
    color: white;
    background-color: rgb(31, 77, 77);
    border-color: rgb(31, 77, 77);
    transition: all .05s linear;
}



