
#bar-right{
    font-size: larger;
}

.container{
    margin-top: 10%;
    
}

.card-deck{
    margin-bottom: 2%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  #yorum{
    margin-left: -50px;
  }